/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SevenKnightsBewitched implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#mur-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#mur-play-area {
    --play-width: 1000px;
    --tile-width: 50px;
    --tile-height: 120px;
    --tile-depth: 5px;

    position: relative;
    width: var(--play-width);
    height: calc(var(--play-width) * 3 / 4);
    margin-bottom: calc(var(--tile-height) / 2);
}

.mur-player {
    --cx: 0;
    --cy: 0;
    --player-size: 200px;
    position: absolute;
    width: var(--player-size);
    height: var(--player-size);
    border-radius: 1000px;
    left: calc((100% - var(--player-size)) * (1 - var(--cx)) / 2);
    top: calc((100% - var(--player-size)) * (1 - var(--cy)) / 2);
    pointer-events: none;
}

.mur-player.mur-selectable {
    pointer-events: all;
}

.mur-player.mur-selectable:hover, .mur-player.mur-selected {
    box-shadow: 0 0 12px #feda15;
    background: #d2bf8e8f;
}

.mur-player-name {
    position: absolute;
    width: 100%;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    -webkit-text-stroke: 1px #0005;
}

.mur-tile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.mur-tile {
    --index: 0;
    --character: 0;
    --token-size: 18px;
    --token-x: 0;
    --token-y: 0;

    width: var(--tile-width);
    height: var(--tile-height);
    transform-origin: center;
    transition:
            transform 600ms ease-in-out,
            box-shadow 200ms ease-out;
    perspective: 200px;
    perspective-origin: center;
    pointer-events: none;
}

#mur-play-area > .mur-tile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(calc(-10px * var(--index)));
}

.mur-tile.mur-selectable {
    pointer-events: all;
}

.mur-tile.mur-selectable:not(.mur-selected):hover {
    box-shadow: 0 0 12px cornflowerblue;
}

.mur-tile.mur-selected {
    box-shadow: 0 0 16px #33ffa9;
}

.mur-tile-front, .mur-tile-side, .mur-tile-back {
    position: absolute;
    transition: transform 800ms ease-in-out;
    perspective: 100px;
    transform-style: preserve-3d;
    transform-origin: center;
}

.mur-tile-front, .mur-tile-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1px 2px black;
}

.mur-tile-front::after, .mur-tile-back::after {
    content: "";
    transition: opacity 1000ms ease-out;
    position: absolute;
    opacity: 0;
}

.mur-tile.mur-owned .mur-tile-front::after,
.mur-tile.mur-owned .mur-tile-back::after,
.mur-token {
    width: var(--token-size);
    height: var(--token-size);
    top: 4px;
    border-radius: 12px;
    box-shadow: 0 0.5px 0.5px black;
    opacity: 1;
    transform-origin: center;
    background-image: url("img/tokens.jpg");
    background-size:
        calc(var(--token-size) * 4)
        calc(var(--token-size) * 2);
    background-position:
        calc(var(--token-size) * var(--token-x) * -1)
        calc(var(--token-size) * var(--token-y) * -1);
}

.mur-tile.mur-owned .mur-tile-front::after {
    right: 26px;
}

.mur-tile.mur-owned .mur-tile-back::after {
    right: 5px;
}

.mur-tile-front {
    transform:
        rotateY(180deg)
        translateZ(calc(var(--tile-depth) / 2));
    background-image: url("img/knights.jpg");
    background-size:
        calc(var(--tile-width) * 9)
        var(--tile-height);
    background-position: calc(var(--character) * var(--tile-width) * -1);
}

.mur-tile.mur-flipped .mur-tile-front {
    transform:
        rotateY(0deg)
        translateZ(calc(var(--tile-depth) / 2));
}

.mur-tile-side {
    width: var(--tile-depth);
    height: 100%;
    background: darkgray;
    transform:
        translateX(calc((var(--tile-width) - var(--tile-depth)) / 2))
        rotateY(90deg)
        translateZ(calc(var(--tile-width) / 2));
}

.mur-tile.mur-flipped .mur-tile-side {
    transform:
        translateX(calc((var(--tile-width) - var(--tile-depth)) / 2))
        rotateY(-90deg)
        translateZ(calc(var(--tile-width) / 2));
}

.mur-tile-back {
    transform:
        rotateY(0deg)
        translateZ(calc(var(--tile-depth) / 2));
    background-image: url("img/knights.jpg");
    background-size:
        calc(var(--tile-width) * 9)
        var(--tile-height);
    background-position: calc(-8 * var(--tile-width));
}

.mur-tile.mur-flipped .mur-tile-back {
    transform:
        rotateY(-180deg)
        translateZ(calc(var(--tile-depth) / 2));
}

.mur-arrows {
    display: flex;
    flex-flow: column-reverse nowrap;
    position: absolute;
    top: calc(var(--tile-height) + 4px);
    pointer-events: none;
}

.mur-arrow {
    --sprite-x: 0;
    --sprite-y: 0;
    --arrow-width: 50px;
    --arrow-height: 68px;
    width: var(--arrow-width);
    height: var(--arrow-height);
    margin-bottom: -45px;
    background-image: url("img/arrows.jpg");
    background-size:
        calc(var(--arrow-width) * 4)
        calc(var(--arrow-height) * 2);
    background-position:
        calc(var(--sprite-x) * var(--arrow-width) * -1)
        calc(var(--sprite-y) * var(--arrow-height) * -1);
    box-shadow: 0 1px 1px black;
    transition: margin 200ms ease-in;
    pointer-events: none;
}

.mur-arrow.mur-animated {
    --x: 0px;
    --y: 0px;
    --angle: 0deg;

    position: relative;
    z-index: 1;
    margin-top: 50px;
    animation-name: follow-path;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    transform: translate(var(--x), var(--y)) rotate(-90deg);
}

@keyframes follow-path {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: none;
    }
}

#mur-deployment {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.mur-placeholder {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tile-width);
    height: var(--tile-height);
}

#mur-deployment .mur-placeholder {
    outline: dotted #7e6b27 4px;
    transition: box-shadow 200ms ease-in;
}

.mur-placeholder.mur-inactive {
    pointer-events: none;
}

#mur-deployment .mur-placeholder.mur-inactive {
    position: relative;
    z-index: -1;
}

.mur-placeholder.mur-optional {
    outline: gray;
}

.mur-placeholder.mur-selectable:hover {
    box-shadow: 0 0 12px cornflowerblue;
}

.mur-placeholder::before, .mur-single-number::after {
    content: attr(data-number);
    font-family: "Arial Black", sans-serif;
    font-weight: bolder;
}

.mur-placeholder::before {
    line-height: var(--tile-height);
    font-size: calc(var(--tile-height) / 3);
    color: #5e4018;
    opacity: 0.35;
    pointer-events: none;
    transition: color 100ms ease-in;
}

.mur-placeholder.mur-optional::before {
    color: darkgray;
}

.mur-placeholder.mur-unordered::before {
    content: attr(data-number) "+";
    font-size: calc(var(--tile-height) / 4);
}

.mur-placeholder.mur-selectable:hover::before {
    color: cornflowerblue;
}

.mur-tile {
    position: absolute;
    margin: auto;
}

#mur-deployment .mur-placeholder .mur-tile {
    z-index: 1;
}

#mur-deployment .mur-placeholder.mur-inactive .mur-tile {
    pointer-events: none;
}

.mur-question-text {
    font-size: 20px;
}

.mur-number-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mur-single-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #b9919159;
    transition:
        background-color 200ms ease-in,
        border-color 100ms ease-in;
}

.mur-number-list .mur-single-number {
    margin: 12px 4px 8px;
}

.mur-single-number.mur-selected, .mur-single-number.mur-icon {
    border-color: #1265a2;
    box-shadow: 0 2px 4px black;
    background-color: cornflowerblue;
}

.mur-single-number:hover {
    border-color: #ffdc53;
}

.mur-single-number::after {
    font-size: 34px;
    color: #cacaca;
    transition: color 100ms ease-in;
}

.mur-single-number.mur-selected::after, .mur-single-number.mur-icon::after {
    color: #e4faff;
}

.mur-single-number.mur-selected:hover::after {
    color: #ffdc53;
}

#mur-question-dialog-buttons {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.mur-player #mur-question-bubble {
    display: block;
    width: 250px;
    text-align: center;
}

.mur-icon {
    display: inline-flex;
    vertical-align: middle;
    margin: 4px;
    pointer-events: none;
}

.mur-single-number.mur-icon {
    width: 22px;
    height: 22px;
    font-size: 20px;
    border-radius: 6px;
}

.mur-single-number.mur-icon::after {
    font-size: 20px;
}

.mur-token {
    --token-size: 18px;
}

.mur-witch {
    --icon-size: 32px;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    background-image: url("img/knights.jpg");
    background-size:
        calc(var(--icon-size) * 15.1)
        calc(var(--icon-size) * 4.34);
    background-position:
        calc(var(--icon-size) * -0.32)
        calc(var(--icon-size) * -1.13);
    border: 1px solid #d2403180;
    box-shadow: 0 2px 3px black;
}
