/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SevenKnightsBewitched implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

:root {
    --selectable-size: 45px;
}

#mur-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#mur-play-area {
    --play-width: 1000px;
    --tile-width: 50px;
    --tile-height: 120px;
    --tile-depth: 5px;
    --player-size: 200px;

    position: relative;
    width: var(--play-width);
    height: calc(var(--play-width) * 3 / 4);
    margin-bottom: calc(var(--tile-height) / 2);
}

.mur-player {
    --cx: 0;
    --cy: 0;
    position: absolute;
    width: var(--player-size);
    height: var(--player-size);
    border-radius: 1000px;
    left: calc((100% - var(--player-size)) * (1 - var(--cx)) / 2);
    top: calc((100% - var(--player-size)) * (1 - var(--cy)) / 2);
    pointer-events: none;
}

.mur-player.mur-selectable {
    pointer-events: all;
}

.mur-player.mur-selectable:hover, .mur-player.mur-selected {
    box-shadow: 0 0 12px #feda15;
    background: #d2bf8e8f;
}

.mur-player-name-container {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.mur-player-name {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    -webkit-text-stroke: 1px #0005;
}

.mur-star {
    --star-size: 26px;

    position: absolute;
    left: calc(-8px - var(--star-size));
    top: calc(var(--star-size) / -6);
    width: var(--star-size);
    height: var(--star-size);

    font-size: var(--star-size);
    -webkit-text-stroke: 2px #60491d;

    opacity: 0;

    transform: translateY(calc(var(--star-size) * -1)) rotate(360deg) scale(1.5);
    transform-origin: 50% 56%;
    transition: opacity 600ms linear, transform 600ms ease-in;
}

.mur-star.mur-active {
    opacity: 1;
    transform: none;
}

.mur-tile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.mur-tile {
    --index: 0;
    --character: 0;
    --token-size: 18px;
    --token-x: 0;
    --token-y: 0;

    position: absolute;
    width: var(--tile-width);
    height: var(--tile-height);
    transform-origin: center;
    top: 0;
    transition:
        box-shadow 200ms ease-out,
        top 100ms ease-in,
        opacity 200ms ease-in-out;
    perspective: 200px;
    perspective-origin: center;
    pointer-events: none;
}

.mur-tile.mur-selectable {
    pointer-events: all;
}

.mur-tile.mur-selectable:not(.mur-selected):hover {
    box-shadow: 0 0 12px cornflowerblue;
}

.mur-tile.mur-non-selectable {
    opacity: 0.6;
}

.mur-tile.mur-selected {
    box-shadow: 0 0 16px #33ffa9;
}

.mur-tile.mur-animated {
    --x: 0px;
    --y: 0px;

    z-index: 10 !important;
    top: -20px;
    animation-name: tile-follow-path;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
    transform: translate(var(--x), var(--y));
    transition: top 100ms ease-in-out;
}

@keyframes tile-follow-path {
    100% {
        transform: none;
    }
}

.mur-tile-front, .mur-tile-side, .mur-tile-back {
    position: absolute;
    transition: transform 800ms ease-in-out;
    perspective: 100px;
    transform-style: preserve-3d;
    transform-origin: center;
}

.mur-tile-front, .mur-tile-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1px 2px black;
}

.mur-tile-front::after, .mur-tile-back::after {
    content: "";
    transition: opacity 1000ms ease-out;
    position: absolute;
    opacity: 0;
}

.mur-tile.mur-owned .mur-tile-front::after,
.mur-tile.mur-owned .mur-tile-back::after,
.mur-token {
    width: var(--token-size);
    height: var(--token-size);
    top: 4px;
    border-radius: 40px;
    box-shadow: 0 0.5px 0.5px black;
    opacity: 1;
    transform-origin: center;
    background-image: url("img/tokens.jpg");
    background-size:
        calc(var(--token-size) * 4)
        calc(var(--token-size) * 2);
    background-position:
        calc(var(--token-size) * var(--token-x) * -1)
        calc(var(--token-size) * var(--token-y) * -1);
}

.mur-tile.mur-owned .mur-tile-front::after {
    right: 26px;
}

.mur-tile.mur-owned .mur-tile-back::after {
    right: 5px;
}

.mur-tile-front {
    transform:
        rotateY(180deg)
        translateZ(calc(var(--tile-depth) / 2));
    background-image: url("img/knights.jpg");
    background-size:
        calc(var(--tile-width) * 9)
        var(--tile-height);
    background-position: calc(var(--character) * var(--tile-width) * -1);
}

.mur-tile.mur-flipped .mur-tile-front {
    transform:
        rotateY(0deg)
        translateZ(calc(var(--tile-depth) / 2));
}

.mur-tile-side {
    width: var(--tile-depth);
    height: 100%;
    background: darkgray;
    transform:
        translateX(calc((var(--tile-width) - var(--tile-depth)) / 2))
        rotateY(90deg)
        translateZ(calc(var(--tile-width) / 2));
}

.mur-tile.mur-flipped .mur-tile-side {
    transform:
        translateX(calc((var(--tile-width) - var(--tile-depth)) / 2))
        rotateY(-90deg)
        translateZ(calc(var(--tile-width) / 2));
}

.mur-tile-back {
    transform:
        rotateY(0deg)
        translateZ(calc(var(--tile-depth) / 2));
    background-image: url("img/knights.jpg");
    background-size:
        calc(var(--tile-width) * 9)
        var(--tile-height);
    background-position: calc(-8 * var(--tile-width));
}

.mur-tile.mur-flipped .mur-tile-back {
    transform:
        rotateY(-180deg)
        translateZ(calc(var(--tile-depth) / 2));
}

.mur-flash {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mur-flash::after {
    content: "";
    display: block;
    position: relative;
    width: var(--tile-width);
    height: var(--tile-width);
    border-radius: 1000px;
    margin-top: calc((var(--tile-height) - var(--tile-width)) / 2);
    background-color: #6b0085;
    transition: transform 150ms ease-out, background-color 1200ms ease-in;
    opacity: 0.0;
    mix-blend-mode: color-burn;
}

.mur-flash.mur-animated::after {
    transform: scale(3);
    opacity: 0.7;
    background-color: white;
}

.mur-spark {
    --path: none;
    position: absolute;

    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    border-radius: 100px;

    margin-left: calc(var(--size) * -0.5px);
    margin-top: calc(var(--size) * -0.5px);
    left: calc(100% * var(--x));
    top: calc(100% * var(--y));

    font-size: calc(var(--size) * 1.5px);
    color: purple;
    -webkit-text-stroke: 2px #0005;

    offset-path: var(--path);
    offset-anchor: center;
    offset-rotate: 0deg;

    animation-name: spark-follow-path, spark-fade-out;
    animation-duration: calc(var(--size) * 200ms), 500ms;
    animation-delay: 0ms, calc(var(--size) * 80ms);
    animation-timing-function: linear, ease-in;
    animation-fill-mode: forwards, forwards;

    z-index: 10;
}

@keyframes spark-follow-path {
    0% { offset-distance: 0}
    100% { offset-distance: 100%}
}

@keyframes spark-fade-out {
    100% {
        transform: scale(1.8);
        opacity: 0
    }
}

.mur-arrows {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: calc(var(--tile-height) + 4px);
    pointer-events: none;
}

.mur-arrow {
    --sprite-x: 0;
    --sprite-y: 0;
    --arrow-width: 50px;
    --arrow-height: 68px;
    width: var(--arrow-width);
    height: var(--arrow-height);
    margin-bottom: -45px;
    background-image: url("img/arrows.jpg");
    background-size:
        calc(var(--arrow-width) * 4)
        calc(var(--arrow-height) * 2);
    background-position:
        calc(var(--sprite-x) * var(--arrow-width) * -1)
        calc(var(--sprite-y) * var(--arrow-height) * -1);
    box-shadow: 0 1px 1px black;
    transition: margin 200ms ease-in;
    pointer-events: none;
}

.mur-arrow.mur-animated, .mur-token.mur-animated {
    --x: 0px;
    --y: 0px;

    position: relative;
    z-index: 9;
    animation-name: follow-path;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
}

.mur-arrow.mur-animated {
    --angle: 0deg;

    margin-top: 50px;
    transform: translate(var(--x), var(--y)) rotate(-90deg);
}

.mur-token.mur-animated {
    transform: translate(var(--x), var(--y));
}

@keyframes follow-path {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: none;
    }
}

.mur-arrow.mur-animated-back, .mur-token.mur-animated-back {
    --x: 0px;
    --y: 0px;

    position: relative;
    z-index: 9;
    animation-name: follow-path-back;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    transform: none;
}

@keyframes follow-path-back {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}

#mur-deployment {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.mur-placeholder {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tile-width);
    height: var(--tile-height);
}

#mur-deployment .mur-placeholder {
    outline: dotted #7e6b27 4px;
    transition: box-shadow 200ms ease-in;
}

.mur-placeholder.mur-inactive {
    pointer-events: none;
}

.mur-tile-container .mur-placeholder {
    outline-color: #7e6b2700;
    transition: outline-color 200ms ease-in-out;
}

.mur-tile-container .mur-placeholder.mur-selectable {
    outline: dotted #7e6b27 4px;
    pointer-events: all;
}

#mur-deployment .mur-placeholder.mur-inactive {
    position: relative;
    z-index: -1;
}

#mur-deployment .mur-placeholder.mur-optional {
    outline: dotted #7e7e7e 4px;
}

.mur-placeholder.mur-selectable:hover {
    box-shadow: 0 0 12px cornflowerblue;
}

.mur-placeholder::before, .mur-single-number::after {
    content: attr(data-number);
    font-family: "Arial Black", sans-serif;
    font-weight: bolder;
}

.mur-placeholder::before {
    line-height: var(--tile-height);
    font-size: calc(var(--tile-height) / 3);
    color: #5e4018;
    opacity: 0.35;
    pointer-events: none;
    transition: color 100ms ease-in;
}

.mur-placeholder.mur-unordered::before {
    content: attr(data-number) "+";
    font-size: calc(var(--tile-height) / 4);
}

.mur-placeholder.mur-optional::before {
    color: #7e7e7e;
    content: attr(data-number) "?";
}

.mur-placeholder.mur-selectable:hover::before {
    color: cornflowerblue;
}

#mur-deployment .mur-placeholder .mur-tile {
    z-index: 8;
}

#mur-deployment .mur-placeholder.mur-inactive .mur-tile {
    pointer-events: none;
}

#mur-status {
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    bottom: 0;
    -webkit-text-stroke: 1px #764800;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    
    font-family: "Arial Black", sans-serif;
    font-variant: small-caps;
    font-size: 24px;
    color: #e8ce00;
    z-index: -1;
}

#mur-status :first-child {
    width: 200px;
    margin-right: 10px;
    text-align: right;
}

#mur-status :last-child {
    width: 200px;
    margin-left: 10px;
    text-align: left;
}

.mur-round-marker {
    width: 37px;
    height: 39px;
    background-image: url("img/shield.svg");
    background-size: cover;
    margin: 0 -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        opacity 400ms ease-in-out,
        filter 400ms ease-in-out,
        scale 400ms ease-in-out;
}

.mur-round-marker:not(.mur-current) {
    opacity: 0.3;
    filter: grayscale(1);
    scale: 0.85;
    z-index: -2;
}

.mur-round-marker:after {
    display: block;
    content: attr(data-number);
    margin-top: -5px;
}

.mur-player-score {
    --card-width: 68px;
    --card-height: 50px;

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 4px;
    width: 100%;
}

.mur-player-card, .mur-score-card {
    position: relative;
    flex-shrink: 0;
    width: var(--card-width);
    height: var(--card-height);
    box-shadow: 0 1px 2px black;
}

.mur-player-card {
    --sprite-x: 0;
    --sprite-y: 0;

    background-image: url("img/player.jpg");
    background-size:
        calc(var(--card-width) * 2)
        calc(var(--card-height) * 4);
    background-position:
        calc(var(--sprite-x) * var(--card-width) * -1)
        calc(var(--sprite-y) * var(--card-height) * -1);
    z-index: 3;
}

.mur-score-card {
    background-image: url("img/score.jpg");
    background-size:
            calc(var(--card-width) * 2)
            calc(var(--card-height) * 2);
    transform-origin: center;
    opacity: 0;
    transition:
        opacity 300ms ease-in,
        margin-left 300ms ease-in;
}

.mur-score-card.mur-loss {
    transform: rotate(180deg);
    box-shadow: 0 -1px 2px black;
}

.mur-score-card[data-team] {
    opacity: 1;
    margin-left: calc(var(--card-width) / -2);
}

.mur-score-card[data-team="witch"] {
    background-position-y: calc(var(--card-height) * -1);
}

.mur-score-card.mur-last-round {
    background-position-x: calc(var(--card-width) * -1);
}

.mur-common-question {
    padding: 20px 16px;
    margin-bottom: 6px;
    background-color: #f6e6c1;
    border: 2px solid #4d7292;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 1px 4px black;
    transition: border-color ease-in 250ms;
    text-align: center;
}

.mur-common-question .mur-token {
    --token-size: 28px;
}

.mur-common-question:hover {
    border-color: #ffdc53;
}

.mur-question-text {
    font-size: 20px;
}

.mur-number-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mur-single-number {
    --number-size: var(--selectable-size);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--number-size);
    height: var(--number-size);
    border-radius: calc(var(--number-size) * 0.3);
    border: 2px solid #b9919159;
    transition:
        background-color 200ms ease-in,
        border-color 100ms ease-in;
}

.mur-number-list .mur-single-number {
    margin: 12px 4px 8px;
}

.mur-single-number.mur-selected,
.mur-single-number.mur-icon,
.mur-expression .mur-single-number,
.mur-notes-questions .mur-single-number {
    border-color: #1265a2;
    box-shadow: 0 2px 4px black;
    background-color: cornflowerblue;
}

.mur-single-number:hover {
    border-color: #ffdc53;
}

.mur-single-number::after {
    font-size: calc(var(--number-size) * 0.85);
    color: #cacaca;
    transition: color 100ms ease-in;
}

.mur-single-number.mur-selected::after,
.mur-single-number.mur-icon::after,
.mur-expression .mur-single-number::after,
.mur-notes-questions .mur-single-number::after {
    color: #e4faff;
}

.mur-single-number.mur-selected:hover::after {
    color: #ffdc53;
}

#mur-question-dialog-buttons {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.mur-bubble {
    --cx: 0;
    --cy: 0;
    --bubble-width: 250px;

    display: block;
    width: var(--bubble-width);
    position: absolute;
    z-index: 100;

    left: calc((100% - var(--player-size)) * (1 - var(--cx)) / 2 + var(--player-size) / 2 - var(--bubble-width) / 2);
    top: calc((100% - var(--player-size)) * (1 - var(--cy)) / 2 + var(--player-size) / 2);

    opacity: 0;
    transition: opacity 250ms ease-out;
    pointer-events: none;
}

.mur-bubble.mur-animated {
    opacity: 1;
    animation-name: mur-bubble-appear;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}

@keyframes mur-bubble-appear {
    0% {
        opacity: 0.5;
        transform: scale(0.7);
    }
    80% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.mur-bubble-border, .mur-bubble-content {
    left: calc(var(--player-size) * var(--cx) - 15px);
    top: calc(var(--player-size) * var(--cy));
}

.mur-bubble-border {
    position: absolute;
    width: calc(100% + 30px);
    height: 100%;
    border-radius: 10px;
    outline: 2px solid black;
}

.mur-bubble-content {
    position: relative;
    width: 100%;
    padding: 5px 15px;
    background: white;
    border-radius: 10px;
    color: black;
    font-weight: 400;
    text-align: center;
}

.mur-bubble svg {
    --size: var(--player-size);

    position: absolute;
    left: calc(var(--size) * -1 - 15px);
    top: calc(var(--size) * -1);
    width: calc(100% + 30px + var(--size) * 2);
    height: calc(100% + var(--size) * 2);
}

.mur-bubble path {
    stroke-width: 2px;
    stroke: black;
    fill: white;
}

.mur-icon {
    display: inline-flex;
    vertical-align: middle;
    margin: 4px;
    pointer-events: none;
}

.mur-name-icon,
.playername,
.player-name > a:first-child,
#pagemaintitletext > span:first-child,
.mur-bubble-content > span {
    font-weight: bold;
    -webkit-text-stroke: 1px #0005;
}

.mur-single-number.mur-icon, .mur-position.mur-icon {
    width: 22px;
    height: 22px;
    font-size: 20px;
    border-radius: 6px;
}

.mur-single-number.mur-icon::after {
    font-size: 20px;
}

.mur-token-container {
    --token-size: 18px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: var(--token-size);
    height: var(--token-size);
    pointer-events: none;
}

.mur-token {
    --token-size: 18px;
}

.mur-token-container .mur-token {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.mur-token-container .mur-token.mur-jump {
    --jump-height: -50px;
    --jump-time: 250ms;
    --jump-delay: 150ms;
    animation-name: jump-path, fall-path;
    animation-duration: var(--jump-time), var(--jump-time);
    animation-delay: 0ms, calc(var(--jump-time) + var(--jump-delay));
    animation-fill-mode: forwards, none;
    animation-timing-function:
        cubic-bezier(0.33, 0.67, 0.67, 1),
        cubic-bezier(0.33, 0, 0.67, 0.33);
    z-index: 10;
}

@keyframes jump-path {
    100% { transform: translateY(var(--jump-height)) scale(1.1); }
}

@keyframes fall-path {
    0% { transform: translateY(var(--jump-height)) scale(1.1); }
    100% { transform: none; }
}

.mur-token-container .mur-token:nth-child(2n) {
    --jump-height: -60px;
    --jump-time: 280ms;
    margin-left: calc(var(--token-size) *  -1.1);
}

.mur-token-container .mur-token:nth-child(4n + 2) {
    margin-left: calc(var(--token-size) * 1.2);
}

.mur-token-container .mur-token:nth-child(3n) {
    margin-top: calc(var(--token-size) * -1.6);
}

.mur-token-container .mur-token:nth-child(3n + 1) {
    margin-top: calc(var(--token-size) * 1.7);
}

.mur-witch {
    --icon-size: 32px;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    background-image: url("img/knights.jpg");
    background-size:
        calc(var(--icon-size) * 15.1)
        calc(var(--icon-size) * 4.34);
    background-position:
        calc(var(--icon-size) * -0.32)
        calc(var(--icon-size) * -1.13);
    border: 1px solid #d2403180;
    box-shadow: 0 2px 3px black;
}

.mur-position.mur-icon:after {
    display: block;
    content: attr(data-position);
    line-height: 20px;
    color: brown;
    font-weight: bold;
}

.mur-expression {
    --slot-size: var(--selectable-size);
    display: flex;
    flex-flow: row nowrap;
    margin: 16px 0;
    justify-content: center;
}

.mur-expression.mur-icon {
    --slot-size: 22px;
    pointer-events: none;
    display: inline-flex;
    margin: 8px 0;
}

.mur-bubble-content .mur-expression.mur-icon {
    width: 100%;
    display: flex;
}

.mur-expression-slot {
    position: relative;
    width: var(--slot-size);
    height: var(--slot-size);
    display: flex;
    justify-content: center;
}

.mur-expression-wildcard {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    outline: dotted #7e6b27 4px;
    margin: auto;
}

.mur-expression-operator {
    position: relative;
    width: 100%;
    height: 100%;
}

.mur-expression-operator::before, .mur-expression-wildcard::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    line-height: var(--slot-size);
    font-family: "Arial Black", sans-serif;
    font-size: calc(var(--slot-size) * 0.9);
    font-weight: bold;
    color: #7e6b27;
    text-align: center;
}

.mur-expression-wildcard::before {
    content: "?";
}

.mur-expression-wildcard:hover {
    outline-color: #ffdc53;
}

.mur-expression-operator::before {
    content: attr(data-operator);
}

.mur-expression .mur-expression-operator:hover::before, .mur-expression-wildcard:hover::before {
    color: #ffdc53;
}

.mur-expression .mur-token {
    --token-size: var(--slot-size);
}

.mur-expression .mur-token:hover {
    outline: 2px solid #ffdc53;
}

.mur-expression .mur-single-number {
    width: var(--slot-size);
    height: var(--slot-size);
    border-radius: calc(var(--slot-size) * 0.3);
    padding: 0 4px;
    margin-top: -2px;
}

.mur-expression .mur-single-number::after {
    font-size: calc(var(--slot-size) * 0.9);
}

.mur-expression-selector {
    position: absolute;
    display: flex;
    width: 340px;
    gap: 8px;
    flex-flow: row wrap;
    justify-content: center;
    padding: 8px;
    border-radius: 16px;
    border: solid 1px black;
    top: calc(100% + 8px);
    background-color: #d8cecc;
}

#mur-sword {
    position: absolute;
    background-image: url("img/sword.png");
    background-size: cover;
    width: 40px;
    height: 130px;
    left: 130px;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transition: top 100ms ease-in;
}

#mur-sword.mur-animated {
    --x: 0px;
    --y: 0px;
    --direction: 0;

    z-index: 11 !important;
    animation-name: sword-follow-path;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    transform: translate(var(--x), var(--y));
    top: -50px;
}

@keyframes sword-follow-path {
    0% {
        top: 0;
    }
    25% {
        rotate: calc(7deg * var(--direction));
    }
    50% {
        rotate: calc(12deg * var(--direction));
    }
    85% {
        rotate: calc(7deg * var(--direction));
    }
    100% {
        rotate: 0;
        top: -50px;
        transform: none;
    }
}

.mur-clear-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    font-size: 30px;
    color: #d89c78;
    -webkit-text-stroke: 2px black;
    transform-origin: center;
    transition: transform 220ms ease-in, color 220ms ease-in;
}

.mur-clear-button:hover {
    color: #e99e4f;
    transform: scale(1.2);
    cursor: pointer;
}

.mur-notes {
    --square-size: var(--selectable-size);
    --mark-color: #df941f;/* #ffdc53*/

    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.mur-notes-editor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.mur-notes-table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.mur-notes-row {
    display: flex;
    flex-flow: row nowrap;
}

.mur-notes-row:first-child {
    margin-left: calc(var(--square-size) + 8px);
    margin-bottom: 4px;
}

.mur-notes-row:first-child .mur-single-number:hover::after {
    color: var(--mark-color)
}

.mur-notes-row:first-child .mur-single-number:last-child::after {
    transition: filter 200ms ease-out;
}

.mur-notes-row:first-child .mur-single-number:last-child:hover::after {
    filter: hue-rotate(-60deg);
}

.mur-notes-square, .mur-notes-tool {
    position: relative;
    width: var(--square-size);
    height: var(--square-size);
    outline: dotted #7e6b27 4px;
    outline-offset: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mur-notes-square.mur-inactive {
    background-image: repeating-linear-gradient(
        135deg,
        #0005 0,
        #0005 2px,
        transparent 2px,
        transparent 6px
    );
    pointer-events: none;
}

.mur-notes-square.mur-inactive::before {
    display: block;
    content: "";
    position: absolute;
    width: calc(var(--square-size) / 3);
    height: calc(var(--square-size) / 3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #bdbdbd;
}

.mur-notes-square:hover,
.mur-notes-row .mur-token:hover ~ .mur-notes-square:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="1"]:hover) .mur-notes-square[data-number="1"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="2"]:hover) .mur-notes-square[data-number="2"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="3"]:hover) .mur-notes-square[data-number="3"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="4"]:hover) .mur-notes-square[data-number="4"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="5"]:hover) .mur-notes-square[data-number="5"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="6"]:hover) .mur-notes-square[data-number="6"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="7"]:hover) .mur-notes-square[data-number="7"]:not(.mur-inactive),
.mur-notes-table:has(.mur-notes-row:first-child [data-number="💖"]:hover) .mur-notes-square[data-number="0"]:not(.mur-inactive),
.mur-notes-tool:hover, .mur-notes-tool.mur-selected {
    outline-color: var(--mark-color);
    z-index: 1;
}

.mur-notes-square::after {
    display: block;
    position: relative;
    font-family: "Font Awesome 6 Free";
    font-size: calc(var(--square-size) * 0.8);
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: #42391f;
}

.mur-notes-square[data-mark="1"]::after {
    content: "\f058";
}

.mur-notes-square[data-mark="2"]::after {
    content: "\f2d3";
}

.mur-notes-square[data-mark="3"]::after {
    content: "\3f";
}

.mur-notes .mur-token {
    --token-size: var(--square-size);
}

.mur-notes .mur-single-number {
    --number-size: var(--square-size);
}

.mur-notes-row .mur-single-number {
    border: none;
}

.mur-notes-row .mur-token {
    margin-right: 8px;
}

.mur-notes-row .mur-token:hover {
    outline: 3px dashed black;
}

.mur-notes-tools {
    --radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: calc(var(--square-size) + 2px);
}

.mur-notes-tool {
    font-size: 24px;
    transition: font-size 200ms ease-in-out;
    outline-style: solid;
    outline-color: #4c4c4c;
}

.mur-notes-tool:first-child {
    border-radius: var(--radius) var(--radius) 0 0;
}

.mur-notes-tool:last-child {
    border-radius: 0 0 var(--radius) var(--radius);
}

.mur-notes-tool[data-mode="1"],
.mur-notes-square[data-mark="1"]::after{
    color: #52bd2c;
}

.mur-notes-tool[data-mode="2"],
.mur-notes-square[data-mark="2"]::after{
    color: #ec3f18;
}

.mur-notes-tool[data-mode="3"],
.mur-notes-square[data-mark="3"]::after{
    color: #3461b7;
}

.mur-notes-tool:hover, .mur-notes-tool.mur-selected {
    font-size: 32px;
}

.mur-notes-reference {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 6px;
}

.mur-notes-questions {
    --square-size: 30px;
    --slot-size: 30px;

    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    pointer-events: none;
}

.mur-notes-question {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 4px;
    gap: 2px;
}

.mur-notes-question .fa6-regular,
.mur-notes-question .fa6-solid {
    -webkit-text-stroke: 1px black;
}

.mur-notes-question .fa6-hand-point-right,
.mur-notes-question .fa6-comment-dots {
    -webkit-text-stroke: 1px #0005;
    font-size: 22px;
    color: #534940;
}

.mur-notes-question .fa6-hand-point-right {
    line-height: var(--square-size);
}

.mur-notes-question .fa6-question {
    color: #8f1fb7;
    margin-left: 6px;
}

.mur-notes-question .fa6-xmark {
    color: #db4b4b
}

.mur-notes-question .fa6-check {
    color: #40c240;
}

.mur-notes-inspections, .mur-notes-votes {
    --square-size: 36px;
    position: relative;
    width: calc(var(--square-size) * 7);
    height: calc(var(--square-size) * 7);
}

.mur-diagram-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 2px #000a;
    font-size: calc(var(--square-size) * 2);
    color: #351e02;
    opacity: 0.3;
    transition: font-size 300ms ease-in, opacity 200ms ease-in-out, color 200ms ease-in-out;
}

.mur-notes-inspections:hover .mur-diagram-icon, .mur-notes-votes:hover .mur-diagram-icon {
    font-size: calc(var(--square-size) * 3);
    color: var(--player-color);
    opacity: 1.0;
    z-index: 2;
}

.mur-diagram-token {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(
        calc((50% - var(--square-size) / 2) * var(--cx)),
        calc((50% - var(--square-size) / 2) * var(--cy))
    );
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.mur-diagram-first-marker {
    position: absolute;
    background-image: url("img/sword.png");
    background-size: contain;
    width: 25px;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-135deg) translateY(6px) scaleX(1.4);
    z-index: -1;
}

.mur-diagram-token.mur-diagram-token-errant .mur-token {
    outline: 3px dashed black;

}

.mur-notes-votes .mur-diagram-token.mur-diagram-token-errant .mur-token {
    background-image: none;
}

.mur-diagram-svg {
    width: calc(100% - var(--square-size));
    height: calc(100% - var(--square-size));
    position: absolute;
    left: calc(var(--square-size) / 2);
    top: calc(var(--square-size) / 2);
}

.mur-diagram-svg circle {
    stroke-width: 0.10;
    stroke-dasharray: 0.01 0.02;
    stroke: #d2c8b6;
    fill: none;
}

.mur-diagram-svg path {
    stroke: #c6c6c6;
    stroke-width: 0.05;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.mur-diagram-svg path.mur-path-back {
    stroke: black;
    stroke-width: 0.1;
}

#mur-notes-button {
    position: absolute;
    right: 10px;
    bottom: 2px;
    color: #b0a095;
    font-size: 50px;
    transform-origin: center;
    transition: color 200ms ease-in, transform 200ms ease-in;
    z-index: 1;
}

#mur-notes-button:hover {
    color: #c19c0a;
    transform: scale(1.15);
}

#mur-notes-button::after {
    display: block;
    position: absolute;
    content: "\f044";
    font-size: 30px;
    bottom: 6px;
    left: 6px;
}